<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Log in</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup] = "loginForm" (ngSubmit)="login()">
      <div class="modal-body">
        
          <div class="mb-3">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="userNameInput" placeholder="User name" formControlName="userName">
                <label for="userNameInput">User name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="passwordInput" placeholder="User name" formControlName="password">
                <label for="passwordInput">Password</label>
              </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <a routerLink="/signUp" (click)="modal.close('Sign up')">Don't have an account?</a>
        <button type="submit" class="btn btn-outline-primary flex-end">Log in</button>
      </div>
    </form>
  </ng-template>