<app-loading [loading]="loading">
    @if(products && products.length > 0) {
        <div class="container">
            <div class="row justify-content-center justify-content-xl-start">
                @for(product of products; track product.id) {
                    <div class="col-10 col-lg-8 col-xl-6">
                        <app-search-item [product]="product"/>
                    </div>
                }
            </div>
        </div>
    } @else {
        <app-no-content-message>0 results match your search.</app-no-content-message>
    }
</app-loading>
