<div class="container">
    <form [formGroup]="addProductForm" (ngSubmit)="submit()">
        
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="nameInput" placeholder="Name" formControlName="name">
            <label for="nameInput">Name</label>
        </div>

        <div class="form-floating mb-3 mt-3">
            <textarea class="form-control" id="descriptionInput" placeholder="Description" formControlName="description"></textarea>
            <label for="nameInput">Description</label>
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <div class="form-floating">
                <input type="number" class="form-control" id="priceInput" placeholder="Price" formControlName="price">
                <label for="nameInput">Price</label>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="file" class="form-control" id="thumbnailFileInput">
            <label class="input-group-text" for="thumbnailFileInput">Thumbnail</label>
        </div>

        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Image</label>
        </div>

        <button type="submit" class="btn btn-primary">Add product</button>
    </form>
</div>