<div class="container">
    <app-loading [loading]="isLoading" loadingClass="position-absolute top-50 start-50 translate-middle">
        @if(product){
            <div class="row justify-content-center text-center text-lg-start">
                <div class="col-xl-10 order-first">
                    <h1>{{product.name}}</h1>
                </div>
                
                <div class="col-12 col-md-10 col-lg-8 col-xl-6 order-2 order-lg-1 mb-3">
                    @if (product.images && product.images.length > 0) {
                        
                        <ngb-carousel style="max-width: 600px;">
                            @for(imageUrl of product.images; track imageUrl){
                                <ng-template ngbSlide>
                                    <div class="picsum-img-wrapper">
                                        <img [src]="imageUrl" />
                                    </div>
                                </ng-template>
                            }
                        </ngb-carousel>
                    }
                </div>
                
                <div class="col-12 col-md-8 col-lg-4 order-1 order-lg-2 mb-3">
                    <ul class="list-group">
                        <img class="img-fluid rounded-top" src={{product.thumbnailUrl}} />
                        <li class="list-group-item">{{product.description}}</li>
                        <li class="list-group-item">
                            Reviews: <span class="good-review">Good</span>
                        </li>
                        <li class="list-group-item">Release date: 20.10.2016</li>
                    </ul>
                </div>

                <div class="col-xl-10 order-last mb-3 d-flex justify-content-center justify-content-lg-start">
                    @if(!this.authService.isAuthenticated() || !this.userProductInfo?.owned){
                        @if(product.price > 0) {
                            <ul class="list-group list-group-horizontal w-lg-100">
                                <li class="list-group-item">{{product.price | currency}}</li>
                                <button type="button" class="btn btn-primary rounded-start-0 w-lg-100" (click)="addToCart(product.id)">Add to Cart</button>
                            </ul>
                        } @else {
                            <button type="button" class="btn btn-primary w-lg-100" (click)="addToLibrary(product.id)">Add to Library</button>
                        }
                    } @else {
                        <h2>Already in your library!</h2>
                    }
                </div>
            </div>
        }
        @else {
            <app-no-content-message>Product not found</app-no-content-message>
        }
    </app-loading>
</div>

<app-add-to-cart-modal [product]="product"/>