<app-loading [loading]="loading">
    @if(cart && cart.products.length > 0) {
        <div class="container">
            <br>
            <div class="row justify-content-between">
                <div class="col-xxl-7 col-xl-8 col-lg-7 col-md-8 col-sm-8">
                    @for(product of cart.products; track product.id){
                        <div class="row">
                            <app-cart-item [product]="product" (cartUpdated)="handleCartUpdated($event)"></app-cart-item>
                        </div>
                    }
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5>Total ${{cart.totalPrice}}</h5>
                            <button type="button" [disabled]="cart.products.length == 0" class="btn btn-primary" (click)="startPayment()">Continue to payment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @else {
        <app-no-content-message>Your cart is empty.</app-no-content-message>
    }
</app-loading>